.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
}

.innerCarousel {
  width: 100%;
  height: 100%;
}

.imgCar {
  width: 100%;
  height: 100%;
}
