* {
  font-family: 'Poppins', sans-serif;
}

.background {
  background-color: rgb(252, 226, 218);
  min-width: 95%;
  max-width: 90%;
  max-height: 3000px;
}

#imgHome {
  margin-top: 150px;
  max-width: 60%;
  max-height: 1000px;
  margin-left: 8%;
}

.h1 {
  margin-left: 70%;
  font-size: 60px;
}

h2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float: right;
  margin-right: 27%;
  margin-top: 13%;
  font-size: large;
  color: rgb(44, 117, 77);
}

p {
  margin: 50px 0px 0px 80px;
  font-size: larger;
}
