* {
  font-family: 'Poppins', sans-serif;
}

.background {
  background-color: rgb(252, 226, 218);
  min-width: 95%;
  max-width: 90%;
  max-height: 3000px;
}

#imgHome {
  margin-top: 150px;
  max-width: 60%;
  max-height: 100%;
  margin-left: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h1 {
  margin-left: 70%;
  font-size: 60px;
}

h2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float: right;
  margin-right: 27%;
  margin-top: 13%;
  font-size: large;
  color: rgb(44, 117, 77);
}

p {
  margin: 50px 0px 0px 80px;
  font-size: larger;
}

/* Smartphones (portrait and landscape) ----------- */
/* Large screens ----------- */
@media only screen and (max-width: 1824px) {
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 1224px) {
}

@media only screen and (max-width: 1035px) {
  .h1 {
    margin-left: 65%;
  }
  h2 {
    margin-top: 18%;
  }
}

@media only screen and (max-width: 859px) {
  .h1 {
    font-size: 60px;
    margin-left: 55%;
  }
  h2 {
    margin-top: 18%;
  }
  p {
    margin: 45px 0px 0px 60px;
    font-size: large;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width: 768px) {
  .h1 {
    margin-left: 50%;
  }
  h2 {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 694px) {
  h2 {
    margin-right: 20%;
    margin-top: 20%;
    font-size: medium;
  }
}

@media only screen and (max-width: 589px) {
  .h1 {
    font-size: 50px;
    margin-left: 50%;
  }
  h2 {
    margin-right: 20%;
    margin-top: 28%;
    font-size: medium;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .background {
    max-height: 2000px;
  }

  .h1 {
    margin-left: 35%;
  }

  h2 {
    margin-right: 10%;
    margin-top: 38%;
    font-size: small;
  }

  p {
    margin: 45px 0px 0px 30px;
    font-size: large;
  }

  #imgHome {
    margin-left: 10%;
    height: 90%;
    width: 70%;
  }
}
