.titleL {
  margin-left: 60%;
  font-size: 60px;
  white-space: nowrap;
}

#backgroundL {
  padding: 20px;
  background-color: rgb(252, 226, 218);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 95%;
  max-width: 90%;
  max-height: 3000px;
}

#imgPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#h3L {
  color: rgb(44, 117, 77);
  font-size: 50px;
  text-align: center;
}

#pL {
  text-align: center;
  margin-right: 70px;
}

#btnL {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(44, 117, 77);
  border-radius: 50px;
  border: none;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
