.nav {
  max-width: 100%;
}

.nav-tabs {
  display: flex;
  float: right;
  list-style-type: none;
}

.nav-item {
  margin-left: 20px;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  color: rgb(122, 122, 122);
  font-size: 22px;
}

.active {
  color: rgb(50, 131, 86);
}
