.cont {
  max-width: 100%;
}

.tabs {
  display: flex;
  float: left;
  list-style-type: none;
}

.item {
  margin-left: 20px;
  margin-right: 30px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: rgb(122, 122, 122);
  font-size: 22px;
  text-decoration: none;
}

.active {
  color: rgb(44, 117, 77);
}

#underline {
  text-decoration: none;
}
