.background {
  background-color: rgb(252, 226, 218);
  min-width: 95%;
  max-width: 90%;
  max-height: 4000px;
}
.h1P {
  margin-left: 70%;
  font-size: 60px;
}

.text {
  margin: 0px;
}

.title {
  font-size: 50px;
  color: rgb(44, 117, 77);
  margin: 0px 80px 0px 0px;
}

#imgPort {
  min-width: 90%;
  max-width: 100%;
  height: 400px;
  margin-left: 20px;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btnP {
  background-color: rgb(44, 117, 77);
  border-radius: 50px;
  border: none;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button a {
  color: white;
}

button a:hover {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: rgb(70, 165, 113);
}

@media only screen and (max-width: 1035px) {
  .h1P {
    margin-left: 65%;
  }
}

@media only screen and (max-width: 859px) {
  .h1P {
    font-size: 60px;
    margin-left: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .h1P {
    margin-left: 50%;
  }
}

@media only screen and (max-width: 589px) {
  .h1P {
    font-size: 50px;
    margin-left: 50%;
  }
}
@media only screen and (max-width: 573px) {
  #imgPort {
    max-width: 90%;
  }
  .columns {
    margin: 20px 0px 0px 10px;
    text-align: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .h1 {
    margin-left: 35%;
  }
  .title {
    margin-left: 10px;
  }
}
